<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1,
        user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript"
        src="config/grafana.yml?as=js&var=eva_hmi_config"></script>
    <script type="text/javascript"
        src="lib/eva.min.js"></script>
    <script type="text/javascript"
        src="apps/eva-hmi-block_ui/index.min.js"></script>
    <link rel="stylesheet"
        href="apps/eva-hmi-block_ui/themes/default/style.css">
    <link rel="stylesheet"
        href="apps/eva-hmi-block_ui/themes/default/icons.css">
    <style>
      body {
        background-color: #161719;
        overflow: hidden;
      }
      html {
        overflow: hidden;
      }
      .eva_hmi_bar:nth-child(2n + 1) {
        border: 0px;
      }
      .eva_hmi_bar:nth-child(3n + 2) {
        border: 0px;
      }
      .eva_hmi_bar_holder  {
        background-color: #161719;
        border: 0;
        width: auto;
      }
      .eva_hmi_cbtn {
        background-color: #212124;
        border-color: #313134;
      }
      .eva_hmi_cbtn:not(:disabled):hover {
        background-color: #313134;
      }
      .eva_hmi_cbtn.busy::after {
        background-color: rgba(49, 49, 52, 0.3);
      }
      .popover-body {
        background-color: #161719;
      }
      .popover {
        border-color: #313134;
      }   
      .popover > .arrow:before {
        border-bottom-color: #313134;
      }
      .popover > .arrow:after {
        border-bottom-color: #313134;
      }
    </style>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        $eva.hmi.start();
      });
    </script>
  </head>
</html>
